<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
         <!--Start of Contact Section-->
  <section class="section--5" id="contact">
    <img src="/img/contact-dark.png" alt="skill monkey" class="contact-monkey" />
    <form class="form" action="https://formsubmit.co/adam.haldas@gmail.com" method="POST">
      <div class="form--box">
        <input type="text" id="name" class="form--input" name="text" autocomplete="off" required />
        <label for="name" class="form--label">
          <span class="form--text">imie</span>
        </label>
      </div>
      <div class="form--box">
        <input type="email" id="email" class="form--input" name="email" autocomplete="off" required />
        <label for="email" class="form--label">
          <span class="form--text">email</span>
        </label>
      </div>
      <div class="form--box">
        <input type="text" id="subject" class="form--input" autocomplete="off" required name="text" />
        <label for="subject" class="form--label">
          <span class="form--text">temat</span>
        </label>
      </div>
      <div class="form--box form--textarea">
        <input type="text" id="text" class="form--input" name="text" autocomplete="off" required />
        <label for="text" class="form--label">
          <span class="form--text">tekst</span>
        </label>
      </div>
      <button class="form--btn">wyślij</button>
    </form>
  </section>
         <!--END of Contact Section-->
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
    <script  src="/js/custom.js"></script>
    <script  src="/js/contact.js"></script>

</body>

</html>
